
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock financial information</title>

</head>
<body>

<h>Please enter the ticker name receive the financial information.</h>
<br>
 <form action="/stock_info" method = "POST">{% csrf_token%}

     <br>
      <input type="text" id = "ticker_name" name ="Ticker" size = "10" style = "display:inline-block">
        <br>
     Start of interval: <input type="date" id = "starting date" name = "start_date" style ="display:inline-block">
     <br>
     End of interval: <input type="date" id = "ending date" name = "ending_date" style ="display:inline-block">
     <br>
      <input type = "submit" value = "Submit" style="display:block">
 </form>



</body>
</html>